$white: #FAFAF8;
$orange: #FF6D5C;
$green: #CBE3BF;
$black: #474747;
$darkgray: #767474;

.main-menu{
  .btn-signup{
    border-radius: 15px;
    background: white;
    color: black;
    padding: 10px 20px;
  }
}
